<footer class="bg-black ph3 pv4 off-white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<p class="f3 lh-title light-gray b tc mb2">{{ .Site.Data.footer.title }}</p>
			<p>{{ .Site.Data.footer.blurb }}</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 highlight">Taluma</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 highlight">Find out more</h3>
				<ul class="mb3">
					<li><a href="/contact" class="link">Schedule an appointment</a></li>
				</ul>
			</div>

			<div class="flex items-center justify-center">
				<img 
					src="/img/Advanced-QB-Online.png" 
					alt="Certified Advanced Quickbooks Online ProAdvisor"
					class="h4"
				/>
			</div>

		</div>
	</div>

</footer>

