{{ if . }}
<section class="bg-grey-1 pv4">
  <div class="ph3 mw7 center">
    {{ if .heading }}
      <h2 class="f3 b lh-title mb2 tc">{{ .heading }}</h2>
    {{ end }}

    {{ if .quotes }}
      <div class="grid">
        {{ range .quotes }}
          <div class="bg-white pa4 mb3 br2 shadow-1">
            <p class="f6 lh-copy italic">“{{ .text }}”</p>
            <p class="b mt3 mb0">{{ .author }}</p>
            {{ if .role }}
              <p class="f6 gray mt1">{{ .role }}</p>
            {{ end }}
          </div>
        {{ end }}
      </div>
    {{ end }}
  </div>
</section>
{{ end }}