.cms {

	/* Headings */
	& h1, & h2, & h3, & h4, & h5, & h6 {
		font-weight: var(--bold-font-weight);
		line-height: 1.25;
    margin-bottom: var(--spacing-small);
  }

  & h1 {
    font-size: 1.9rem;
  }

  & h2 {
    font-size: 1.5rem;
  }

  & h3 {
    font-size: 1.25rem;
  }

  & h4 {
    font-size: 1rem;;
  }

  & h5 {
    font-size: .875rem;
  }
	/* Paragraph tuning */
	& p {
		font-size: 0.9rem;
		line-height: 1.65;
		margin-bottom: 1rem;
	}

	/* Images */
	& img {
		display: block;
		margin-bottom: var(--spacing-medium);
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
	}

	/* Links */
	& a {
		color: var(--primary);
		transition: var(--hover-transition);
		&:hover {
			background-color: var(--highlight);
			color: var(--black);
		}
	}

	/* Lists */
	& ul,
	& ol {
		font-size: 0.9rem;
		line-height: 1.5;
	}

	& li {
		margin-bottom: 0.3rem;
	}

	& ul, & ol, & li {
		position: relative;
	}

	& ul,
	& ol {
		margin: 0 0 0.75rem 1.25rem;
		padding-left: 0;
	}


	& ul ul, & ol ol {
		padding-left: var(--spacing-small);
	}

	& ul {
  		list-style: disc;
  		margin-left: 1.25rem;

  		& > li:before {
    		content: none;
  		}
	}

	& ol {
		list-style: none;
		margin-left: var(--spacing-medium);
		counter-reset: i 0;
    & >li:before {
      font-weight: 800;
      left: var(--spacing-medium);
      margin-right: 1.33rem;
      position: relative;
      height: 100%;
      content: counter(i);
      counter-increment: i;
      color: var(--primary);
    }
	}
	
	& p + ul,
	& p + ol {
		margin-top: -0.5rem;
	}

	& li > p {
		margin: 0.25rem 0;
	}

  /* Blockquotes */
  & blockquote {
    background-color: var(--grey-1);
    display: block;
    border-radius: var(--border-radius);
    padding: var(--spacing-medium);
    color: var(--black);
    font-weight: 500;
    font-size: 1.05rem;;
    margin-bottom: var(--spacing-medium);
    & p {
      margin: 0;
    }
  }
}
