{{ define "main" }}

  <div class="mw6 center ph3 pv4">
    <h1 class="f3 lh-title b mb3">{{.Title}}</h1>
    <div class="flex justify-between grey-3">
      <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
      <p>Read in {{ .ReadingTime }} minutes</p>
    </div>
    <div class="cms">
      <p class="f5 lh-copy mid-gray mt0 mb3">{{ .Description }}</p>
      {{ with .Resources.Get .Params.image }}
        <img class="w-100 br2 mb3" src="{{ .RelPermalink }}" alt="{{ $.Title }}" />
      {{ end }}
      {{ .Content }}
    </div>

  </div>
{{ end }}
